
.footer {
  height: 300px;
  max-width: 100vw;
  color: #000;
  background-color: #eeeeee;
  text-align: center;
  font-weight: 600;
}

.logo-white {
  width: 40vh;
  margin: 55px 0;
}

.footer>p {
  font-size: 14px;
}