/* ヘッダー */

* {
  box-sizing: border-box;
}

.top-page-header {
  max-width: 100vw;
  background-color: #fff;
  font-family: "HG正楷書体-PRO";
}

.headline {
  padding-left: 60px;
  max-width: 100vw;
  height: 20px;
  background-color: #FF9933;
  font-size: 12px;
  color: #fff;
}

.header-main {
  max-width: 100vw;
}

.nav {
  width: 80vw;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.logo {
  width: 300px;
}

.nav__center {
  background-color: #fff;
}

.nav__list {
  display: flex;
}

.nav_link {
  text-decoration: none;
  color: #000000;
  margin: 0 25px;
  position: relative;
  transition: all .3s;
}

.nav_link a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #000;
  font-size: 17px;
  letter-spacing: 0.05em;
  font-weight: 800;
}

.nav_link:hover .dropdown__lists {
  display: flex;
}

.dropdown__lists {
  display: none;
  position: absolute;
  left: 0;
}

.nav_link:hover {
  background-color: #FF9933;
  border-radius: 30% 70% 35% 65% / 50% 50% 50%
}

.dropdown__list {
  transition: all .3s;
  position: relative;
  margin: 10px 5px;
  display: flex;
}

.dropdown__list a {
  padding: 0 10px;
}

.dropdown__list:hover {
  background-color: #FF9933;
  border-radius: 30% 70% 35% 65% / 50% 50% 50%
}

.nav__right{
  font-size: 20px;
  font-weight: 600;
  margin-left: auto;
}

.nav__btn{
  display: inline-block;
  padding: 0.2em 1.0em;
  font-size: 0.8em;
  color: #000000;
  text-decoration: none;
  user-select: none;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 0 5px;
}

.logout__btn{
  display: inline-block;
  margin-right: 10px;
  font-size: 0.8em;
  color: #000000;
  text-decoration: none;
  user-select: none;
  transition: all .3s;
}

.logout__btn:hover{
  background-color: #FF9933;
  border-radius: 30% 70% 35% 65% / 50% 50% 50%
}

.nav__btn:hover{
  color: #fff;
  background: #000000;
}

.shop__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #000000;
  text-decoration: none;
  user-select: none;
  border: 1px #FF9900 solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.shop__btn:hover{
  color: #fff;
  background: #000000;
}