/* ショップ一覧画面 */

.eachshop-main{
  max-width: 80vw;
  background-color: #fff;
  margin: 0 auto;
}

.list-title{
  font-size: 30px;
  font-weight: 600;
  margin: 40px 0;
}

.eachshop-lists{
  max-width: 80vw;
  background-color: #fff;
}


.eachshop-list{
  height: 200px;
  display: flex;
  padding: 25px;
  border: 2px solid #000;
  border-radius: 5px;
  margin-bottom: 30px;
}

.shop_image{
  border-radius: 3px;
  width: 220px;
  height: 150px;
  object-fit: cover;
}

.eachshop-contents{
  margin-left: 40px;
  font-size: 15px;
  font-weight: 600;
}

.eachshop-detail-name{
  width: 40vw;
  margin-bottom: 15px;
  font-size: 20px;
  border-bottom: 1px solid #999999;
}

.detail_link{
  color: #000;
  text-decoration: none;
  transition: all .3s;
}

.detail_link:hover{
  background-color: #FF9933;
  border-radius: 30% 70% 35% 65% / 50% 50% 50%
}

.eachshop-detail-introduction{
  margin-bottom: 15px;
  font-size: 13px;
}

.eachshop-detail-address{
  font-size: 13px;
}