
/* genre.css */

.search-back{
  margin: 20px 0;
  text-align: center;
}

.search-back-btn {
  display: inline-block;
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  width: 30%;
  padding: 10px 0;
  text-decoration: none;
}